@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap");

:root {
  --1: #fe7867;
  --2: #fad400;
  --3: #25564b;
  --4: #19536b;
  --5: #458c7e;
  --6: #23303e;
  --7: #5a636c;
  --8: #818498;
  --9: #a7abae;
  --0: #ffffff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Barlow", sans-serif;
  font-family: "Fraunces", serif;
}

img {
  max-width: 100%;
}

ul {
  list-style: none;
}
